extends ./templates/base.jade

block content
  div.col-md-8.col-md-offset-2

    // settings
    div.settings-container
      // server port
      div
        div.col-xs-8
          p Port bound by the Docvy Server
        div.col-xs-4
          input.form-control.center(type="number",
            data-ng-model="settings.port", value="{{ settings.port }}")
      // hidden files
      div
        div.col-xs-8
          p Ignore Dot files
        div.col-xs-4
          input(type="checkbox", data-toggle="switch",
            data-ng-checked="settings.ignoreDotFiles",
            data-ng-model="settings.ignoreDotFiles")

    // installing new plugins
    div
      div.center-spaced
        h3 Plugins
      p Plugins add more capability to the application by allowing to handle 
        | files of different content-types. An almost-up-to-date list of the 
        | available plugins is being maintained at 
        | https://github.com/GochoMugo/docvy-app/wiki/Available-Plugins
      div#pluginInstallPanel.panel-group
        div.panel.panel-default
          div.panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#pluginInstallPanel",
                href="#/server/#npm") Install from npm
          div#npm.panel-collapse.collapse
            div.panel-body
              input.form-control(type="text", data-ng-model="pluginInstallName")
              button.btn.btn-primary(type="button",
                data-ng-click="installPlugin(pluginInstallName)") Install
                div.panel.panel-default
        div.panel.panel-default
          div.panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#pluginInstallPanel",
                href="#/server/#file") Install from File
          div#file.panel-collapse.collapse
            div.panel-body
              p Will install from File

    // showing installed plugins
    div(data-ng-show="plugins.length > 0")
      div.center-spaced
        h3 Installed Plugins
      ul.list-none.plugins
        li.row(data-ng-repeat="plugin in plugins")
          div.col-xs-2
            img.plugin-img(data-ng-src="{{ getPluginsIconUrl(plugin) }}",
              onError="this.onerror=null; this.src='assets/images/plugin.png'; ")
          div.col-xs-10
            h4
              a(href="", data-ng-click="openLink(plugin.homepage)") {{ plugin.name }}
            p {{ plugin.description }}

  script
    | $("input[type='checkbox']").bootstrapSwitch({
    |  size: "mini"
    | });

